<form class="example-form">
    <mat-form-field class="example-full-width">
        <mat-label>Loja</mat-label>
        <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="outputStore()">
            @for (s of stores | async; track s.id) {
                <mat-option [value]="s">{{s.name}}</mat-option>
            }
        </mat-autocomplete>
    </mat-form-field>
</form>

{{myControl.value}}